@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
#header{
    width: 100%;
    font-weight: bold;
    height:100px;
    /* padding: 40px; */
}   
#name{
    float:left;
    font-size: 30px;
    
    padding-top:35px;
    margin:20px;
    width:35%;

}
#logo{
    float:left;
}
nav{
    background-color:  lightgray;
    width:100px;
    height: 550px;

}
#content{
    display:inline-flex;
    margin:15px;
}
.links{
    /* margin:10px; */
    color: black; /* Default color */
    text-decoration: none;
    text-align: center;
    font: 20px;
    
    /* border: solid 2px black; */
    /* border-radius: 7px; */
}
a{
    color: black; /* Default color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline; /* Underline on hover */
}
body{
    background-image: url(images/Background-opera-speeddials-community-web-simple-backgrounds.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}
hr{
    width:100%;
}
#profile{
    width: 70%;
    margin-left: 20px;
    /* display: inline-block; */
}
.intro{
    margin-top: 50px;
    display: inline-flex;
}
.bikes{
    height: 250px;
    width: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
    background-color: #F5F5F5;
}
#ordersum{
    margin-left: 20px;
    width: 250px;
    height: 550px;
    background-color: lightsalmon;
}
#ordertitle{
    padding:20px;
    font-size:20px;
    font-weight: bold;
}
#selectedbike{
    padding-left: 20px;
}
#price{
    padding-left: 20px;
}
#biketype{
    display: inline-flex;
    
}
#option1{
    margin-left: 100px;
}
#option2{
    margin-left: 225px;
}
#option3{
    margin-left: 190px;
}
#option5{
    margin-top: 10px;
}
.rounded-button {
    background-color: black; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor style */
}

/* Hover effect */
.rounded-button:hover {
    background-color: #333; /* Darker background color on hover */
}
#frametype{
    margin-top: 20px;;
}


